{
  "presets": [
    ["env", {
      "targets": {
        "node": 6,
        "browsers": ["last 2 versions"]
      },
      "loose": true,
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}
